@page "/worktasklist"
@inject ManageMyHyper.Client.Services.IWorkTaskService WorkTaskService
@attribute [Authorize]

<h3>Liste des tâches</h3>
<AuthorizeView Roles="Manager">
    <Authorized>
        <ManagerWorkTaskList/>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Employé">
    <Authorized>
        <EmployeeWorkTaskList/>
    </Authorized>
</AuthorizeView>

@code {      
    protected override async Task OnInitializedAsync()
    {
        await WorkTaskService.LoadWorkTaskPrioritiesAsync();
    }
}
