@inject ManageMyHyper.Client.Services.IWorkTaskService WorkTaskService

<button class="btn btn-info" @onclick="@IncreaseWorkTaskCount">+</button>

@code {
    public void IncreaseWorkTaskCount()
    {
        //WorkTaskService.CreateNewWorkTask("Nouvelle tâche", 1);
    }
}
