@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="icons/list_icon.png"/>Gestion de mon Hyper</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Manager">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="userlist">
                    <span class="oi oi-people" aria-hidden="true"></span> Liste des utilisateurs
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="createworktask">
                    <span class="oi oi-plus" aria-hidden="true"></span> Créer une tâche
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="worktasklist">
                        <span class="oi oi-list" aria-hidden="true"></span> Liste des tâches
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="myworktasklist">
                        <span class="oi oi-list" aria-hidden="true"></span> Mes tâches
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" @onclick="Logout" style="cursor:pointer">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-pencil" aria-hidden="true"></span> S'enregistrer
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>



        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("authenticationToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}
