@inject ManageMyHyper.Client.Services.IWorkTaskService WorkTaskService
@implements IDisposable
<AuthorizeView>
    <Authorized>
        <div class="top-menu">
            <span class="popover-header">
                Tâches restantes :
                @WorkTaskService.NumberOfRemainingWorkTasksTodo
            </span>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="">Se connecter</NavLink>
            <NavLink href="register">S'enregistrer</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    protected override void OnInitialized()
    {
        WorkTaskService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        WorkTaskService.OnChange -= StateHasChanged;
    }
}
